name: Testing With Jest & supertest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Node Setup
        uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Install Dependencies
        run: npm ci
      - name: Change Env to Test
        run: echo "NODE_ENV=test" >> $GITHUB_ENV
      - name: Run Tests
        run: npm run test